.font{
    font-family: "Manrope", sans-serif;
}
.paper{
    background: url(../assets/bg.jpg);
}
.pera{
    font-size: 20px;
}
.team:hover{
    cursor: pointer;
    opacity: 1;
    transition: .6s ease-in-out;
}